<h1>Create a new buyer</h1>

<form action="/buyers" method="post">
  <label for="name">Name</label>
  <input name="name" id="name" [(ngModel)]="name" required minlength="2" placeholder="Buyer name">

  <label for="phoneNumber">Phone number</label>
  <input type="tel" name="phoneNumber" id="phoneNumber" [(ngModel)]="phoneNumber" required>

  <label for="contactPerson">Contact person</label>
  <input type="text" name="contactPerson" id="contactPerson" [(ngModel)]="contactPerson" required>

  <label for="address">Address</label>
  <input type="text" name="address" id="address" [(ngModel)]="address" required minlength="2" placeholder="Buyer address">

  <button type="submit" (click)="isChangeForm ? change() : createBuyer()">{{ isChangeForm ? 'Save' : 'Create' }}</button>
  <button type="reset">Reset</button>
  <button type="button" (click)="isChangeForm ? cancelUpdating() : cancelCreation()">Cancel</button>
</form>
